<!DOCTYPE html>
<html th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
	<title>Contacts</title>
</head>

<body>
	<div id="content">

		<div style="width: 100%; text-align: center;">
			<h3 class="mb-4 leading-none tracking-tight text-gray-900 md:text-5xl dark:text-white">All your contacts
			</h3>
			<p class=" text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Start
				managing contacts here....</p>
		</div>

		<div class="contact_container p-10">


			<div class="relative overflow-x-auto shadow-md sm:rounded-lg" >
				<div style="display: flex; justify-content: space-between;">


				<form th:action="@{list-pagination}" method="get"
					class="flex items-center gap-3 p-5 bg-white dark:bg-gray-900">

					<select id="searchBy" name="searchBy"
						class="w-32 border border-gray-300 text-sm rounded-lg px-3 py-2.5">
						<option value="NAME" th:selected="${searchBy == 'NAME'}">Name</option>
						<option value="EMAIL" th:selected="${searchBy == 'EMAIL'}">Email</option>
						<option value="PHONE" th:selected="${searchBy == 'PHONE'}">Phone</option>
					</select>

					<div class="relative">
						<div class="absolute inset-y-0 left-0 flex items-center ps-3 pointer-events-none">
							🔍
						</div>
						<input type="text" name="searchValue" th:value="${searchValue}"
							class="w-80 ps-10 p-2 text-sm border border-gray-300 rounded-lg"
							placeholder="Search for users">
					</div>

					<button type="submit" class="px-4 py-2.5 text-sm border rounded-lg bg-gray-100 hover:bg-gray-200">
						Search
					</button>

				</form>
				
				<div class="hidden w-full md:block md:w-auto" style="display: flex; align-items: center;">
			<div onclick="exportDataToExcel()" style="padding-right: 20px;"
				class=" button px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Export</div>
		</div>
		</div>


				<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" >
					<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
						<tr>

							<th scope="col" class="px-6 py-3">
								Name
							</th>
							<th scope="col" class="px-6 py-3">
								Phone
							</th>
							<th scope="col" class="px-6 py-3">
								Links
							</th>
							<th scope="col" class="px-6 py-3">
								Action
							</th>
						</tr>
					</thead>
					<tbody>


						<tr data-th-object="${c}" data-th-each="c : ${contactPage.getContent()}"
							class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">

							<th scope="row"
								class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
								<img onerror="this.src='https://tse3.mm.bing.net/th/id/OIP.dyxjIxJtIRt7O_AfRQbZUAHaHa?cb=12&w=626&h=626&rs=1&pid=ImgDetMain&o=7&rm=3'"
									class="w-10 h-10 rounded-full" th:src="@{/{img}(img=*{picture})}" alt="Jese image">
								<div class="ps-3">
									<div class="text-base font-semibold" data-th-text="*{name}">Neil Sims</div>
									<div class="font-normal text-gray-500" data-th-text="*{email}">
										neil.sims@flowbite.com</div>
								</div>
							</th>
							<td class="px-6 py-4">
								<i class="fa-solid fa-phone"></i><span class="pl-2"
									data-th-text="*{phoneNumber}">8943894343</span>
							</td>
							<td class="px-6 py-4">
								<div class="flex items-center">
									<div data-th-if="*{favorite}" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2">
									</div>
									<a data-th-href="@{*{websiteLink}}"><i class="fa-solid w-5 h-5 fa-link"></i></a>
									<a data-th-href="@{*{linkedInLink}}"><i
											class="fa-brands w-5 h-5  fa-linkedin"></i></a>
								</div>

							</td>
							<td class="px-6 py-4">
								<button style="cursor: pointer;"
									th:attr="onclick='deleteContact(' + ${c.contactID} + ')'" type="button">
									<i class="fa-solid fa-trash"></i>
								</button>

								<a data-th-href="@{'/user/contact/view/update-contact/'+*{contactID}}"> <i
										class="fa-solid fa-pen"></i></a>

								<button style="cursor: pointer;" th:attr="onclick='viewContact(' + ${c.contactID} + ')'"
									type="button">
									<i class="fa-regular fa-eye"></i>
								</button>



							</td>
						</tr>



					</tbody>
				</table>



				<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" id="contactsTable" style="display: none;">
					<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
						<tr>

							<th scope="col" class="px-6 py-3"  style="font-weight: bold;">
								Name
							</th>
							<th scope="col" class="px-6 py-3">
								Phone
							</th>
							<th scope="col" class="px-6 py-3">
								Email
							</th>
							<th scope="col" class="px-6 py-3">
								Linken
							</th>
														<th scope="col" class="px-6 py-3">
								Social Links
							</th>
						</tr>
					</thead>
					<tbody>


						<tr data-th-object="${c}" data-th-each="c : ${contactPage.getContent()}">

							
							<td> <span class="pl-2" data-th-text="*{name}"></span> </td>
							<td> <span class="pl-2" data-th-text="*{phoneNumber}"></span> </td>
							<td> <span class="pl-2" data-th-text="*{email}"></span> </td>
							<td> <span class="pl-2" data-th-text="*{linkedInLink}"></span> </td>
							<td> <span class="pl-2" data-th-text="*{websiteLink}"></span> </td>
							
							
							
						</tr>



					</tbody>
				</table>


				<nav aria-label="Page navigation" th:if="${contactPage.totalPages > 1}"
					style="padding: 10px;display: flex;justify-content: center;">
					<ul class="flex -space-x-px text-sm">

						<li th:unless="${contactPage.first}">
							<a th:href="@{'/user/contact/list-pagination?page=' + ${contactPage.number - 1}}"
								class="flex items-center justify-center px-3 h-9 border border-default-medium rounded-s-lg bg-neutral-secondary-medium hover:bg-neutral-tertiary-medium">
								Previous
							</a>
						</li>

						<li th:each="index : ${#numbers.sequence(1, contactPage.totalPages)}">
							<a th:href="@{'/user/contact/list-pagination?page=' + ${index - 1}}" th:classappend="${index - 1 == contactPage.number}
          ? ' bg-blue-600 text-white'
          : ' bg-neutral-secondary-medium hover:bg-neutral-tertiary-medium'"
								th:attr="aria-current=${index - 1 == contactPage.number ? 'page' : null}"
								class="flex items-center justify-center w-9 h-9 border border-default-medium border-l-0 text-sm font-medium">
								<span th:text="${index}"></span>
							</a>
						</li>

						<li th:unless="${contactPage.last}">
							<a th:href="@{'/user/contact/list-pagination?page=' + ${contactPage.number + 1}}"
								class="flex items-center justify-center px-3 h-9 border border-default-medium border-l-0 rounded-e-lg bg-neutral-secondary-medium hover:bg-neutral-tertiary-medium">
								Next
							</a>
						</li>

					</ul>
				</nav>

				<div th:if="${contactPage.totalPages < 1}" class="text-center py-6 text-gray-500">
					No data found
				</div>


			</div>



		</div>
		<div data-th-replace="~{user/contact_fragement :: contact_fragement}"></div>


	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
	<script src="/js/contact.js"></script>


</body>

</html>