<div data-th-fragment="contact_fragement">
	<!-- Main modal -->
	<div id="contactModal" tabindex="-1" aria-hidden="true"
		class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
		<div class="relative p-4 w-full max-w-2xl max-h-full">
			<!-- Modal content -->
			<div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">

				<!-- Modal body -->
				<div class="flex flex-col items-center text-center space-y-4">

					<!-- Contact Image -->
					<img class="w-24 h-24 rounded-full object-cover shadow-md border border-gray-200 dark:border-gray-600"
						id="contactPicture" alt="Jese image">

					<!-- Contact Name -->
					<h2 class="text-2xl font-semibold text-gray-900 dark:text-white">
						John Doe
					</h2>

					<!-- Contact Email and Phone -->
					<div class="space-y-1">
						<p class="text-gray-600 dark:text-gray-300" id="contactName">Mr. John</p>
						<p class="text-gray-600 dark:text-gray-300" id="contactPhone">+1 (555) 123-4567</p>
					</div>

					<!-- Address -->
					<div class="" style="width: 100%; border-top: 1px solid blanchedalmond; padding: 10px; margin:0;">
						<div style="width: 100px; float: left;"><i class="fa-solid fa-location-dot"></i></div>
						<div style="width: calc(100% - 100px);">
							<p class="text-sm text-gray-500 dark:text-gray-400 max-w-md" id="contactAddress"></p>
						</div>

					</div>

					<!-- Description -->
					<div class="" style="width: 100%; border-top: 1px solid blanchedalmond; padding: 10px; margin:0;">
						<div style="width: 100px; float: left;"><i class="fa-solid fa-user"></i></div>
						<div style="width: calc(100% - 100px);">
							<p class="text-sm text-gray-500 dark:text-gray-400 max-w-md" id="contactDescrition"></p>
						</div>
					</div>

					<div class="" style="width: 100%; border-top: 1px solid blanchedalmond; padding: 10px; margin:0;">
						<div style="width: 100px; float: left;"><i class="fa-regular fa-heart"></i></i></div>
						<div style="width: calc(100% - 100px); color: yellow;" id="contactFavorite">

						</div>

					</div>

					<div class="" style="width: 100%; border-top: 1px solid blanchedalmond; padding: 10px; margin:0;">
						<div style="width: 100px; float: left;"><i class="fa-solid fa-link"></i></div>
						<div style="width: calc(100% - 100px);">
							<p class="text-sm text-gray-500 dark:text-gray-400 max-w-md" id="contactWebsiteLink"></p>
						</div>

					</div>

					<div class="" style="width: 100%; border-top: 1px solid blanchedalmond; padding: 10px; margin:0;">
						<div style="width: 100px; float: left;"><i class="fa-brands fa-linkedin"></i></div>

						<div style="width: calc(100% - 100px);">
							<p class="text-sm text-gray-500 dark:text-gray-400 max-w-md" id="contactLinkden"></p>
						</div>




					</div>



				</div>


				<!-- Modal footer -->
				<div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
					style="justify-content: center;">

					<button onclick="hideContact()"
						class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-heading rounded-base group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
						<span
							class=" relative px-4 py-2.5 transition-all ease-in duration-75 bg-neutral-primary-soft rounded-base group-hover:bg-transparent group-hover:dark:bg-transparent leading-5">
							Close
						</span>
					</button>
				</div>


			</div>
		</div>
	</div>

</div>