<!DOCTYPE html>
<html th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
	<title>Contact Form</title>
</head>

<body>
	<div id="content">
		<div class="grid grid-cols-12">
			<div class="col-span-4  md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
			<div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
				<div data-th-replace="~{message :: messagebox}"></div>
				<a
					class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

					<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Add New Contact
					</h5>
					<p class="font-normal text-gray-700 dark:text-gray-400">Start managing contacts here....</p>

					<form data-th-action="@{'/user/contact/add'}" data-th-object="${contactForm}" method="post"
						enctype="multipart/form-data" class="max-w-sm mx-auto mt-10" novalidate>
						<div class="mb-5">
							<label for="name"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
								Name</label>
							<input type="text" id="name" data-th-field="*{name}"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								placeholder="Enter name " required />
							<p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
								class="text-red-600 py-2 px-2"></p>
						</div>
						<div class="mb-5">
							<label for="email"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
								Email</label>
							<input type="email" id="email" data-th-field="*{email}"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								placeholder="name@flowbite.com" required />
							<p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}"
								class="text-red-600 py-2 px-2"></p>
						</div>

						<div class="mb-5">
							<label for="contact"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
								Phone</label>
							<input type="text" id="contact" data-th-field="*{contact}"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								required />
							<p data-th-if="${#fields.hasErrors('contact')}" data-th-errors="*{contact}"
								class="text-red-600 py-2 px-2"></p>
						</div>

						<div class="mb-5">
							<label for="address"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Address</label>
							<textarea id="address" rows="4" name="address"
								class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								placeholder="Leave a comment..."></textarea>
						</div>
						<div class="mb-5">
							<label for="description"
								class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Description</label>
							<textarea id="description" rows="4" name="description"
								class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								placeholder="Leave a comment..."></textarea>
						</div>


						<div class="relative">
							<div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
								<i class="fa-solid fa-link"></i>
							</div>
							<input type="text" id="email-address-icon" data-th-field="*{websiteLink}"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								placeholder="name@flowbite.com">
						</div>


						<div class="relative">
							<div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
								<i class="fa-brands fa-linkedin"></i>
							</div>
							<input type="text" id="linkedInLink" data-th-field="*{linkedInLink}"
								class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
								placeholder="name@flowbite.com">
						</div>


						<div class="mb-5">
							<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
								for="profilePic_input">Upload file</label>
							<input
								class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
								data-th-field="*{picture}" id="profilePic_input" type="file">
								
							<img src="" style="max-height: 130px;" id="profilePic_preview"></img>
						</div>

						<div class="flex items-center mb-4">
						    <input id="favorite" data-th-field="*{favorite}" type="checkbox" value="" class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
						    <label for="favorite" class="select-none ms-2 text-sm font-medium text-heading">Mark as favorite</label>
						</div>


						<button type="submit"
							class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>

						<button type="reset"
							class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>

					</form>
				</a>
			</div>
		</div>
	</div>

	<th:block th:text="${@sessionHelper.removeMessage()}"></th:block>

	<script>
		
		
document.querySelector('#profilePic_input').addEventListener('change', function (event) {
	console.log('calling image load');

	const file = event.target.files[0];
	if (!file) return; // safety check

	const reader = new FileReader();
	reader.onload = function () {
		document.querySelector('#profilePic_preview').src = reader.result;
	};

	reader.readAsDataURL(file);
});

	</script>
</body>

</html>